<div class="standard-form">
  <div class="notification warning">
    Some settings can result in a calculated price below zero. All prices are clamped to a minimum of 0 and will never be negative. GMs will see these items highlighted in purple.
  </div>

  <fieldset>
    <legend>{{localize "INTERACTIVE_ITEMS.Vendor.Favor"}}</legend>

    <div class="form-group">
      <label>{{localize "INTERACTIVE_ITEMS.Settings.VendorFavorMin.Name"}}</label>
      <div class="form-fields">
        <input type="number" name="vendorFavorMin" value="{{vendorFavorMin}}" step="1">
      </div>
      <p class="hint">{{localize "INTERACTIVE_ITEMS.Settings.VendorFavorMin.Hint"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "INTERACTIVE_ITEMS.Settings.VendorFavorMax.Name"}}</label>
      <div class="form-fields">
        <input type="number" name="vendorFavorMax" value="{{vendorFavorMax}}" step="1">
      </div>
      <p class="hint">{{localize "INTERACTIVE_ITEMS.Settings.VendorFavorMax.Hint"}}</p>
    </div>
  </fieldset>

  <fieldset>
    <legend>{{localize "INTERACTIVE_ITEMS.Vendor.FavorFactor"}}</legend>

    <div class="form-group">
      <label>{{localize "INTERACTIVE_ITEMS.Settings.VendorFavorFactorMin.Name"}}</label>
      <div class="form-fields">
        <input type="number" name="vendorFavorFactorMin" value="{{vendorFavorFactorMin}}" min="1" step="1">
      </div>
      <p class="hint">{{localize "INTERACTIVE_ITEMS.Settings.VendorFavorFactorMin.Hint"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "INTERACTIVE_ITEMS.Settings.VendorFavorFactorMax.Name"}}</label>
      <div class="form-fields">
        <input type="number" name="vendorFavorFactorMax" value="{{vendorFavorFactorMax}}" min="1" step="1">
      </div>
      <p class="hint">{{localize "INTERACTIVE_ITEMS.Settings.VendorFavorFactorMax.Hint"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "INTERACTIVE_ITEMS.Settings.VendorFavorFactorDefault.Name"}}</label>
      <div class="form-fields">
        <input type="number" name="vendorFavorFactorDefault" value="{{vendorFavorFactorDefault}}" min="1" step="1">
      </div>
      <p class="hint">{{localize "INTERACTIVE_ITEMS.Settings.VendorFavorFactorDefault.Hint"}}</p>
    </div>
  </fieldset>
</div>
